@import '../../node_modules/normalize.css/normalize';

$yellow: #e5b344;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'acumin-pro', sans-serif;
  line-height: 1.5;
  border-top: 0.4rem solid $yellow;
}

main {
  text-align: center;
  color: #808080;
  padding: 1rem;
}

h1 {
  font-weight: 400;
  font-size: 1.8rem;
  color: black;
}

.button {
  padding: 0.8rem 1.2rem;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  display: inline-block;
  box-shadow: 0 4px 0 3px rgba(0, 0, 0, 0.1);
}

a,
button {
  &:focus {
    outline: 1px solid $yellow;
  }
}

a {
  color: $yellow;
  text-decoration: none;
}

p {
  margin: 2.2rem 0;
}

.icon {
  width: 2rem;
  height: auto;
}
