//@-ms-viewport { width: device-width; }

//@-ms-viewport{ width: auto !important; }

.modal-body-no-scroll {
  overflow: hidden;
}

.modal {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  padding: 2rem;
}

.modal--is-visible {
  opacity: 1;
  visibility: visible;
}

.modal__dialog {
  background: white;
  margin: 0 auto;
  width: 100%;
  max-height: 100%;
  max-width: 40rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal__header,
.modal__body {
  padding: 1.5rem 2rem;
}

.modal__header {
  border-bottom: 1px solid whitesmoke;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.modal__title {
  margin: 0;
  float: left;
}

.modal__close {
  float: right;
  cursor: pointer;
  margin-left: auto;
  width: 0.9rem;
  height: 0.9rem;
  background-image: url('../img/cross.svg');
  background-color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  appearance: none;
  border: none;
}

.modal__body {
  max-height: 100%;
}
